<h1>Editing degree type</h1>

<%= render "form", degree_type: @degree_type %>

<br>

<div>
  <%= link_to "Show this degree type", @degree_type %> |
  <%= link_to "Back to degree types", degree_types_path %>
</div>
