<p style="color: green"><%= notice %></p>

<h1>Degree types</h1>

<div id="degree_types">
  <% @degree_types.each do |degree_type| %>
    <%= render degree_type %>
    <p>
      <%= link_to "Show this degree type", degree_type %>
    </p>
  <% end %>
</div>

<%= link_to "New degree type", new_degree_type_path %>
