<div id="<%= dom_id researcher_category %>">
  <p>
    <strong>Descripcion:</strong>
    <%= researcher_category.descripcion %>
  </p>

  <p>
    <strong>Puntaje:</strong>
    <%= researcher_category.puntaje %>
  </p>

</div>
