<div id="<%= dom_id aspiring_teaching_category %>">
  <p>
    <strong>Descripcion:</strong>
    <%= aspiring_teaching_category.descripcion %>
  </p>

  <p>
    <strong>Puntaje:</strong>
    <%= aspiring_teaching_category.puntaje %>
  </p>

</div>
