<h1>Editing aspiring teaching category</h1>

<%= render "form", aspiring_teaching_category: @aspiring_teaching_category %>

<br>

<div>
  <%= link_to "Show this aspiring teaching category", @aspiring_teaching_category %> |
  <%= link_to "Back to aspiring teaching categories", aspiring_teaching_categories_path %>
</div>
