<h1>Editing research type</h1>

<%= render "form", research_type: @research_type %>

<br>

<div>
  <%= link_to "Show this research type", @research_type %> |
  <%= link_to "Back to research types", research_types_path %>
</div>
