<h1>New contracted teaching category</h1>

<%= render "form", contracted_teaching_category: @contracted_teaching_category %>

<br>

<div>
  <%= link_to "Back to contracted teaching categories", contracted_teaching_categories_path %>
</div>
