<div id="<%= dom_id research_group %>">
  <p>
    <strong>Nombre:</strong>
    <%= research_group.nombre %>
  </p>

  <p>
    <strong>User:</strong>
    <%= research_group.user_id %>
  </p>

  <p>
    <strong>Researchtype:</strong>
    <%= research_group.researchtype_id %>
  </p>

</div>
