<h1>Editing research group</h1>

<%= render "form", research_group: @research_group %>

<br>

<div>
  <%= link_to "Show this research group", @research_group %> |
  <%= link_to "Back to research groups", research_groups_path %>
</div>
