<div id="<%= dom_id patent_type %>">
  <p>
    <strong>Descripcion:</strong>
    <%= patent_type.descripcion %>
  </p>

  <p>
    <strong>Puntaje:</strong>
    <%= patent_type.puntaje %>
  </p>

</div>
