<h1>Editing patent type</h1>

<%= render "form", patent_type: @patent_type %>

<br>

<div>
  <%= link_to "Show this patent type", @patent_type %> |
  <%= link_to "Back to patent types", patent_types_path %>
</div>
