<div id="<%= dom_id patent %>">
  <p>
    <strong>Nombre:</strong>
    <%= patent.nombre %>
  </p>

  <p>
    <strong>Patenttype:</strong>
    <%= patent.patenttype_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= patent.user_id %>
  </p>

</div>
