<div id="<%= dom_id request %>">
  <p>
    <strong>Estado:</strong>
    <%= request.estado %>
  </p>

  <p>
    <strong>Vacant:</strong>
    <%= request.vacant_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= request.user_id %>
  </p>

</div>
