<div id="<%= dom_id user_experience %>">
  <p>
    <strong>Anos:</strong>
    <%= user_experience.anos %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= user_experience.experience_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_experience.user_id %>
  </p>

</div>
