<h1>Editing user experience</h1>

<%= render "form", user_experience: @user_experience %>

<br>

<div>
  <%= link_to "Show this user experience", @user_experience %> |
  <%= link_to "Back to user experiences", user_experiences_path %>
</div>
