$myColors: (
    "negro": #000000,
    "rojoBri": #ED0900,
    "verdeBri": #339900,
    "verdeAdo": #51B133,
    "fondo": #F5F5F5,
    "primario": #455A64,
    "secundario": #51B133,
    "titulos": #707070,
    "borde": #BCBCBC,
    "disable": #B2B2B2,
    "blanco": #FFFFFF
);

$anidado: (
  "myColors": $myColors,
);

// $colors: map-merge($colors, $anidado);

$prueba: (
  'algo': #ED0900
);

@each $color_name,$color in $myColors{
    .#{$color_name}{
        background-color: $color !important;
    }
    .#{$color_name}-text{
        color: $color !important;
    }
}