.no-margin {
    margin: 0;
  }
  
  .no-padding {
    padding: 0;
  }
  
  .alto80 {
    height: 80%;
  }
  
  .altocompleto {
    max-height: 100%;
  }
  
  .anchocompleto {
    max-width: 100%;
  }
  
  .fondo-login {
    background-image: url(#{asset_path('reserva2.jpg')});
    background-size: cover;
    background-repeat: none;
  }
  
  .margen-boton {
    margin: 5;
  }
  
  .no-margin-bottom {
    margin-bottom: 0;
  }
  
  .logo-img {
    max-height: 64px!important;
    //padding: 15px 0!important;
  }
  
  .avatar-img {
    max-height: 50px!important;
  }
  
  
  .img-card{
    max-width: 100% !important;
  
  }

// siclo repetitivo para ayuda, hasta el 100

@for $i from 0 through 100 {
    .borde-radio-#{$i} {
      border-radius: #{$i}px;
    }
  
    .borde-radio-top-#{$i} {
      border-radius: #{$i}px #{$i}px 0 0;
    }
  
    .borde-radio-buton-#{$i} {
      border-radius: 0 0 #{$i}px #{$i}px;
    }
    //margin
  
    .margin-#{$i} {
      margin: #{$i}px !important;
    }
    //margin vertical
    .margin-vertical-#{$i} {
      margin-top: #{$i}px !important;
      margin-bottom: #{$i}px !important;
    }
    //margin horizontal
    .margin-horizontal-#{$i} {
      margin-left: #{$i}px !important;
      margin-right: #{$i}px !important;
    }
    //margin top
    .margin-top-#{$i} {
      margin-top: #{$i}px !important;
    }
    //marging bottom
    .margin-bottom-#{$i} {
      margin-bottom: #{$i}px !important;
    }
    //margin margin-left
    .margin-left-#{$i} {
      margin-left: #{$i}px;
    }
    //margin right
    .margin-right-#{$i} {
      margin-right: #{$i}px;
    }
    //pading
    .padding-#{$i} {
      padding: #{$i}px !important;
    }
  
    .padding-top-#{$i} {
      padding-top: #{$i}px !important;
    }
    .padding-bottom-#{$i} {
      padding-bottom: #{$i}px !important;
    }
  
    .padding-horizontal-#{$i} {
      padding-left: #{$i}px !important;
      padding-right: #{$i}px !important;
    }
  
    .padding-vertical-#{$i} {
      padding-top: #{$i}px !important;
      padding-bottom: #{$i}px !important;
    }
  
    .text-#{$i} {
      font-size: #{$i}px !important;
    }
  
    .w-p-#{$i} {
      width: 0% + $i !important;
    }
  
    .h-p-#{$i} {
      height: 0% + $i !important;
    }
}
