<div id="<%= dom_id authorization %>">
  <p>
    <strong>User:</strong>
    <%= authorization.user_id %>
  </p>

  <p>
    <strong>Resource:</strong>
    <%= authorization.resource_id %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= authorization.action_id %>
  </p>

</div>
