<h1>Editing authorization</h1>

<%= render "form", authorization: @authorization %>

<br>

<div>
  <%= link_to "Show this authorization", @authorization %> |
  <%= link_to "Back to authorizations", authorizations_path %>
</div>
