<p style="color: green"><%= notice %></p>

<h1>Authorizations</h1>

<div id="authorizations">
  <% @authorizations.each do |authorization| %>
    <%= render authorization %>
    <p>
      <%= link_to "Show this authorization", authorization %>
    </p>
  <% end %>
</div>

<%= link_to "New authorization", new_authorization_path %>
